# Python
__pycache__/
*.py[cod]
.pytest_cache

# shell
.venv
uv.lock
.env

# folders
docs
input/
output/

# me only
setup.md

# Jupyter Notebooks
.ipynb_checkpoints/

# OS specific
.DS_Store

#claude
.claude